<h1>パスワード再設定</h1>

<p>下のリンクをクリックしてパスワードを再設定してください。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                email: @user.email) %>

<p>このリンクは2時間後に切れます</p>

<p>
 パスワードのリセットをリクエストしていない場合は、
 このメールを無視してください。パスワードはそのまま残ります。
</p>