<% if current_user.id != @story.user_id %>
    <% if  current_user.likes.find_by(story_id: @story.id) %>
        <%= link_to unlike_path(@story.id), method: :delete, remote: true do %>
            <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
    <% else %>
        <%= link_to like_path(@story.id), method: :post, remote: true do %>
           <span class="fa fa-heart like-btn"></span>
        <%end%>
    <% end %>
      <%= @story.likes.count %>
<% end %>
