<li class="dropdown" style="position:absolute; top:0%; right:0%; ">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    フィルター<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "新しい順" , stories_path(option: "1") %></li>
    <li><%= link_to "古い順" , stories_path(option: "2") %></li>
    <li><%= link_to "いいね数順" , stories_path(option: "3") %></li>
  </ul>
</li>